/* General Reset */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #191111;
    background: url('https://lucdn.letsupgrade.net/assets/users_count_bg_73c24b4781.gif') no-repeat center center fixed;
    background-size: cover;
    overflow-x: hidden;
}

.profile-image {
    width: 150px;
    height: 150px;
    margin: left;
    border-radius: 50%;
    background: #cccccc00;
    background-image: url('My Image.jpg'); /* Replace with your profile image */
    background-size: cover;
    background-position: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header {
    display: left;
    text-align: left;
    padding: 2rem 1rem;
    background: rgba(30, 34, 42, 0.85);
    border-radius: 16px;
    margin: 1rem auto;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74);
    color: #abb2bf;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: #a5aaae;
}

p {
    font-size: 1.5rem;
    color: #c7ccc3;
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav button {
    background: #d5cfcf;
    color: #253b77;
    border: none;
    padding: 0.8rem 1.5rem;
    cursor: pointer;
    transition: transform 0.3s, background 0.3s;
    font-size: 1rem;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav button:hover {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 4px 6px rgb(80, 22, 22);
    transform: translateY(-3px);
}

/* Sections */
main {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.section {
    margin-bottom: 3rem;
    color: #abb2bf;
    opacity: 1;
    transform: translateY(0);
    width: 100%;
    box-sizing: border-box;
}

.section-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.section-content {
    width: 100%;
    box-sizing: border-box;
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.icon {
    text-decoration: none;
    width: 5.625rem;
    height: 5.625rem;
    border-radius: 14px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.icon > i {
    color: #2dd4bf;
    font-size: 1.5rem;
    transition: all 0.2s;
}

.icon:hover > i {
    scale: 1.2;
    color: #f1f1f1;
}

.icon:before {
    background: var(--color);
    content: "";
    position: absolute;
    width: 130%;
    height: 130%;
    left: -110%;
    top: 80%;
    transform: rotate(45deg);
}

.icon:hover:before {
    animation: slide 0.7s forwards;
}

@keyframes slide {
    50% {
        left: 10%;
        top: -40%;
    }

    100% {
        left: -15%;
        top: -15%;
    }
}

.icon:has(.fa-instagram) {
    --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}

.icon:has(.fa-linkedin-in) {
    --color: #0077b5;
}

.icon:has(.fa-x-twitter) {
    --color: #141d23;
}

.icon:has(.fa-github) {
    --color: #333;
}

.outer-box {
    border: 4px solid #c8c3c3; /* Outer box border */
    padding: 30px; /* Padding inside the outer box */
    background-color: #222028;
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74); /* Light gray background for the outer box */
    border-radius: 20px; /* Rounded corners for the outer box */
}

.about-me {
    text-align: right;
    border: 2px solid #1c1b1b; /* Adds a border around the inner box */
    padding: 20px; /* Adds padding inside the inner box */
    background-color: #f9f9f9; /* Sets a light background color */
    border-radius: 8px; /* Rounds the corners of the inner box */
}

.about-me h2 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 1rem;
}

.about-me p {
    font-size: 1rem;
    line-height: 1.8;
    color: #555;
}


/* Skill Section */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.skill-box {
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
    color: #ffffff;
    padding: 15px;
    border: 1px solid #858383;
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74);
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.skill-box:hover {
    transform: scale(1.05);
}

.skill-name {
    font-size: 18px;
    font-weight: bold;
}

.skill-item:hover {
    transform: translateY(-5px);
    color: #595858;
    box-shadow: 0 4px 6px rgb(80, 22, 22);
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-evenly;
    width: 100%;
    box-sizing: border-box;
}

.project-card {
    background: linear-gradient(135deg, #121514 0%, #101a25 100%);
    color: #fff;
    padding: 1.5rem;
    border-radius: 16px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74);
    width: 31%;
    min-width: 280px;
    box-sizing: border-box;
}

.project-card h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgb(80, 22, 22);
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.project-tags span {
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    font-size: 0.8rem;
}

.project-links {
    margin-top: 1rem;
    text-align: left;
}

.ref-button {
    display: inline-block;
    background: linear-gradient(135deg, #36d1dc 0%, #5b86e5 100%);
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    border-radius: 12px;
    font-size: 1rem;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0.1);
}

.ref-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 6px rgb(80, 22, 22);
}

#Education.section {
    padding: 3rem 2rem;
}

#Education h2 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.Education-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.Education-card {
    background: linear-gradient(135deg, #1d1e26, #1d232f 100%);
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

.Education-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgb(80, 22, 22);
}

.Education-card h3 {
    color: #d4d0d0;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 0.8rem;
}

.Education-card p {
    color: rgba(255, 255, 255, 0.9);
    margin-top: 1.1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.Education-links {
    margin-top: 1.5rem;
}

.resume-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: linear-gradient(to right, #12161a, #121e20);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74);
    max-width: 1000px;
}

.resume-section .section-title {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #c0bfb9;
}

.resume-section .resume-description {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 0.6;
    letter-spacing: 1px;
    color: #ecf0f1;
    max-width: 800px;
}

.resume-section .download-btn button {
    background-color: #3498db;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 12px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74);
}

.resume-section .download-btn button:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 6px rgb(80, 22, 22);
    transform: scale(1.1);
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    background: rgba(21, 24, 28, 0.85);
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74);
    border-radius: 20px;
    max-width: 1000px;
    margin: 0 auto;
    width: 90%;
}

.contact-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    background: linear-gradient(135deg, #0077b6 0%, #00b4d8 100%);
    color: #ffffff;
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(181, 181, 182, 0.74);
    gap: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}

.contact-link:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgb(138, 60, 60);
    background: linear-gradient(135deg, #00b4d8 0%, #0077b6 100%);
}

.contact-link::before {
    content: '📧';
    font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
    nav {
        display: none; /* Hide the navbar on scroll */
    }

    nav.fixed {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    .wrapper {
        display: block;
        text-align: center;
        justify-content: center;
    }

    .icon {
        margin-bottom: 10px;
    }

    .icon > i {
        font-size: 2rem;
    }
}

/* Responsive Project and Education Cards */
@media screen and (max-width: 768px) {
    .projects-grid, .Education-grid {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .project-card, .Education-card {
        display: flex;
        flex-direction: row;
        width: 30%;
        margin-bottom: 1.5rem;
    }

    .project-card h3, .Education-card h3 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .project-tags {
        font-size: 0.9rem;
    }

    .project-links, .Education-links {
        margin-top: 1rem;
    }
}

/* Adjusting the Resume Section */
@media screen and (max-width: 768px) {
    .resume-section {
        width: 90%;
        padding: 20px;
    }

    .resume-section .section-title {
        font-size: 2rem;
    }

    .resume-section .resume-description {
        font-size: 1.2rem;
        max-width: 100%;
    }

    .resume-section .download-btn button {
        padding: 10px 20px;
    }
}

/* Adjust Contact Section */
@media screen and (max-width: 768px) {
    #contact {
        padding: 1.5rem;
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .contact-link {
        padding: 1rem 2rem;
        font-size: 1.2rem;
        width: 80%;
        margin: 0 auto;
    }

    .contact-link::before {
        font-size: 1.5rem;
    }
}

/* Styling for Skills Container */
@media screen and (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .skill-box {
        flex: 1 1 100%;
        text-align: center;
    }
}

/* Media Query for Font Size Adjustments */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}